@tailwind base;
@tailwind components;
@tailwind utilities;
@import "component";

* {
  &:focus-visible {
    outline: none;
  }
}
html,
body,
#__next {
  min-height: 100vh;
}

body {
  background-color: #000;
}

button:focus-within {
  outline: none;
}
.slick-slider {
  .slick-prev,
  .slick-next {
    width: 50px;
    height: 50px;
    background: #ffffff;
    z-index: 1;
    border-radius: 50%;
    text-align: center;
    &:before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border: 2px solid #000000;
      border-bottom: none;
      border-right: none;
      margin:0 auto;
      transform-origin: center;
    }
    &:hover{
      @apply  bg-yellow-400
    }
  }

  .slick-prev {
    left:0;
    &:before {
      transform: rotate(-45deg);
    }
  }
  .slick-next {
    right:0;
    &:before {
      transform: rotate(135deg);
    }
  }
  .slick-track {
    margin-left: 0;
    margin-right: 0;
  }

  .slick-dots{
    position: static;
  }
  .slick-dots li button:before {
    color: #ddd;
  }

  .slick-dots li.slick-active button:before {
    color: #fff;
  }
}
