@tailwind base;
@tailwind components;
@tailwind utilities;
@import "component";

* {
  &:focus-visible {
    outline: none;
  }
}
html,
body,
#__next {
  min-height: 100vh;
}

body {
  background-color: #000;
}

button:focus-within {
  outline: none;
}
.slick-slider {
  .slick-prev,
  .slick-next {
    width: auto;
    height: auto;
    &:before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      border: 2px solid #fff;
      border-bottom: none;
      border-right: none;
    }
  }

  .slick-prev {
    &:before {
      transform: rotate(-45deg);
    }
  }
  .slick-next {
    &:before {
      transform: rotate(135deg);
    }
  }
  .slick-track {
    margin-left: 0;
    margin-right: 0;
  }

  .slick-dots{
    position: static;
  }
  .slick-dots li button:before {
    color: #ddd;
  }

  .slick-dots li.slick-active button:before {
    color: #fff;
  }
}
